<div class="row">
  <div class="col-md-6 offset-md-3 mt-4">
    <h3> réinitialiser mot de passe </h3>
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
      <div class="form-group">
        <label for="registerEmail">Email :</label>
        <input type="email" name="email" ngModel required #email="ngModel"
               class="form-control" id="registerEmail" placeholder="Enter email">
      </div>
      <button type="submit" class="btn btn-primary"> réinitialiser votre mot de passe </button>
    </form>
  </div>
</div>
