<!-- Navbar -->
<nav class="navbar navbar-expand-lg fixed-top bg-light navbar-light">
  <div class="container">
    <a class="navbar-brand" routerLink="home"
    ><img
      id="MDB-logo"
      src="../assets/Images/img_1.png"
      alt="MDB Logo"
      draggable="false"
      height="90"
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto align-items-center">
        <li class="nav-item">
          <a class="nav-link mx-2" [routerLink]="['/home']">Acceuil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" [routerLink]="['/deviceApp']">Device & App</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" [routerLink]="['/scientificValidation']" >scientific Validation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" [routerLink]="['/aboutUs']">About Us</a>
        </li>
        <li class="nav-item ms-3">
          <button type="button" class="btn btn-success" [routerLink]="['/login']">Login</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
