<!-- Site footer -->
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-md-2">
        <a class="navbar-brand" routerLink="home"
        ><img
          id="MDB-logo"
          src="../assets/Images/img_3.png"
          alt="MDB Logo"
          draggable="false"
          height="90"
        /></a>
      </div>
      <div class="col-xs-6 col-md-2">
        <h6>Quick Links</h6>
        <ul class="footer-links">
          <li><a href="http://scanfcode.com/category/c-language/">Sign Up</a></li>
          <li><a href="http://scanfcode.com/category/front-end-development/">About Us</a></li>
        </ul>
      </div>

      <div class="col-xs-6 col-md-2">
        <h6>Others</h6>
        <ul class="footer-links">
          <li><a href="http://scanfcode.com/category/c-language/">User FAQs</a></li>
          <li><a href="http://scanfcode.com/category/front-end-development/">Contact Us</a></li>
          <li><a href="http://scanfcode.com/category/back-end-development/">Legal</a></li>
          <li><a href="http://scanfcode.com/category/java-programming-language/">Privacy Policy</a></li>
          <li><a href="http://scanfcode.com/category/android/">Terms and Conditions</a></li>
        </ul>
      </div>

      <div class="col-xs-6 col-md-2">
        <h6>Products</h6>
        <ul class="footer-links">
          <li><a [routerLink]="['/aboutUs']">Send</a></li>
          <li><a href="#">Receive</a></li>
          <li><a href="#">Buy</a></li>
        </ul>
      </div>
      <div class="col-xs-6 col-md-4">
        <ul class="footer-links">
          <li><div class="col-md-8">
            <p class="copyright-text">Subscribe to our newsletter and be the first to know about our updates
            </p>
          </div></li>
          <br>
          <li>
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Email Adress" aria-label="Recipient's username" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button">Suscribe</button>
              </div>
            </div>
          </li>
          <br>
          <li>
            <div class="col-md-6">
              <ul class="social-icons">
                <li><a class="dribbble" href="#"><i class="fa fa-youtube"></i></a></li>
                <li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
                <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <hr>
  </div>
  <div class="container">
    <div class="row">
        <p class="copyright-text">Copyright © 2022. Wired Beauty</p>
    </div>
  </div>
</footer>
