<app-header></app-header>
<br>
<br>
<br>
<div class="img"></div>
  <div class="center">
    <div class="title"> Nomadic labgrade IOT</div>
     <div class="title"> device & smart app </div>
    <div class="sub_title col-sm-8">  WIRED BEAUTY is a French beauty-tech market research company which
      invested 1,3M€ to develop a non invasive, portable lab connected device
      to deliver labgrade and real time measurements of skin markers to
      dermocosmetic lab as well as a smart app in order to also harvest consumer perception.</div>
    <div class="btns">
        <button>View Demo</button>
    </div>
</div>
<div class="containerOne">
  <img src="assets/Images/device_img1.png" class="deviceOne">
</div>
<div class="containerOne">
  <h1 class="des_title"> OUR TEAM & SCIENTIFIC CONSORTIUM </h1>
  <p class="par_desc col-sm-8">Wired Beaty Technologies is a three-sided French tech team combining the intelligence of
    two seasoned cosmetic professionals lien vers bio sophie et Stan , the electro chemistry knowledge of our CRO partner in Toulouse (Qima : lien vers qima)
    and the scientific skin expertise of a renowned dermatologist Mrs Tu-ahn DUONG lien vers BIO of the Henri Mondor Hospital in Paris. lien vers APHP.</p>
  <p class="par_desc col-sm-8">Wired Beaty Technologies is a three-sided French tech team combining the intelligence of two seasoned cosmetic professionals
    lien vers bio sophie et Stan , the electro chemistry knowledge of our CRO partner in Toulouse (Qima : lien vers qima) and the scientific skin expertise of a
    renowned dermatologist Mrs Tu-ahn DUONG lien vers BIO of the Henri Mondor Hospital in Paris. lien vers APHP.</p>
</div>
<app-footer></app-footer>
