<nav class="nav navbar-default">
  <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
    <ul class="nav navbar-nav">
      <li routerLinkActive="active"><a routerLink="home"> Acceuil </a></li>
      <li routerLinkActive="active"><a routerLink="auth"> Authentification </a></li>
      <li routerLinkActive="active"><a routerLink="deviceApp"> Device & App </a></li>
      <li routerLinkActive="active"><a routerLink="scientificValidation"> Scientific Validation </a></li>
      <li routerLinkActive="active"><a routerLink="aboutUs"> About Us </a></li>
    </ul>
  </div>
</nav>
<div class="container">
  <div class="row">
    <router-outlet></router-outlet>
  </div>
</div>
