<app-header></app-header>
<br>
<br>
<br>
<div class="img"></div>
<div class="center">
  <div class="title">  WIRED BEAUTY SCIENTIFIC  </div>
  <div class="title">  PARTNERS </div>
  <div class="sub_title col-sm-8">  Skin care product testing often resembles the protocols of medicament testing.
    It is a long sequencial process which aims to protect the voluntary testers, measure performance,
    record side-effects. For the most serious cosmetic labs, it is not rare to spend over 18 months
    gathering and analyzing the results of the following stages. </div>
  <div class="btns">
    <button>View Demo</button>
  </div>
</div>
<div class="containerOne">
  <h1 class="title"> STUDIES AND SERVICES </h1>
  <br>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">OBJECTIVES</th>
      <th scope="col">BATCH</th>
      <th scope="col">RESULTS IN</th>
      <th scope="col">AVERAGE COST</th>
      <th scope="col">PARTNERS</th>
      <th scope="col">PARTNERS</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">IN TUBO</th>
      <td>Comparison of ingredients
        or dosage performance.</td>
      <td>10 ingredients</td>
      <td>3 days</td>
      <td>$7k</td>
      <td>QIMA & WIRED
        BEAUTY</td>
    </tr>
    <tr>
      <th scope="row">EX VIVO EXPLANTS OR
        RECONSTRUCTED SKIN</th>
      <td>Comparison of ingredients or dosage performance.</td>
      <td>10 ingredients</td>
      <td>10 days</td>
      <td>$10k + explant costs</td>
      <td>QIMA & WIRED
        BEAUTY</td>
    </tr>
    <tr>
      <th scope="row">EX VIVO IN SEVERE
        EXPOSOME CONDITIONS</th>
      <td>Comparison of ingredients or dosage performance.</td>
      <td>10 ingredients</td>
      <td>10 days</td>
      <td>$10k + explant costs</td>
      <td>QIMA & WIRED
        BEAUTY</td>
    </tr>
    <tr>
      <th scope="row">Shanghai PROTOCOL</th>
      <td>Comparison of ingredients or dosage performance
        In standard exposome chamber</td>
      <td>2 formulae (new vs
        old or new vs placebo
        or new vs lab standard)</td>
      <td>10 days</td>
      <td>$30k + explant costs</td>
      <td>QIMA & WIRED
        BEAUTY</td>
    </tr>
    <tr>
      <th scope="row">COHORT PROTOCOL</th>
      <td>Self defences of skin – 200 people (all skin types) under heavy pollution</td>
      <td>No product</td>
      <td>1 to 5 months</td>
      <td>$100k + patches</td>
      <td>WIRED BEAUTY</td>
    </tr>
    </tbody>
  </table>
</div>
<app-footer></app-footer>

