<app-header></app-header>
<br>
<br>
<br>
<div class="img"></div>
<div class="center">
  <div class="title">  NEW ! DIFFERENT ! BETTER </div>
  <div class="sub_title">  ways to research skincare</div>
  <div class="sub_title">  Hybrid clinical trials and consumer studies</div>
  <div class="btns">
    <button>View Demo</button>
    <button>Contact Us</button>
  </div>
</div>
<br>
<br>
<br>
<div class="imgOne"></div>
  <div class="centerOne">
    <div class="titleOne">  Open Day </div>
  <div class="sub_titleOne">  Foundation in Art and Design </div>
</div>
<br>
<br>
<div class="container-fluid">
  <h1 class="dashboardTitle"> Dashborad </h1>
  <div class="dashboard_sub_one">Lorem Ipsum is x dummy text of the printing.</div>
  <div class="dashboard_sub_one"> of the printing.</div>
  <p class="dashboard_sub_desc"> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. </p>
  <br>
  <img src="/assets/Images/modal.png" class="dashborad_modal">
</div>
<br>
<br>
<br>
<div>
  <div class="row">
    <div class="col">
      <h3 class="our_title_one"> Who we are </h3>
      <h1 class="our_title_two">OUR TEAM & SCIENTIFIC </h1>
      <h1 class="our_title_two">CONSORTIUM</h1>
      <p class="our_sub">Wired Beaty Technologies is a three-sided French tech team combining the intelligence of two seasoned cosmetic professionals lien vers bio sophie et Stan ,
        the electro chemistry knowledge of our CRO partner in Toulouse (Qima : lien vers qima) and the scientific skin expertise of a renowned dermatologist Mrs Tu-ahn DUONG
        lien vers BIO of the Henri Mondor Hospital in Paris. lien vers APHP.</p>
      <p class="our_sub">Because of their singular competences and contagious energy, they help our clients improve and simplify skincare research data.
        (Qima : lien vers qima) and the scientific skin expertise of a renowned dermatologist Mrs Tu-ahn DUONG lien vers BIO
        of the Henri Mondor Hospital in Paris. lien vers APHP.</p>
    </div>
    <div class="col">
      <img src="/assets/Images/our_img.png" class="our_img">
    </div>
  </div>
<br>
<br>
<div>
  <div class="row">
    <div class="col">
      <img src="/assets/Images/tel.png" class="dashboard_tel">
    </div>
    <div class="col">
      <h1 class="telTitle">Download app to enjoy more!</h1>
      <br>
      <div class="tel_sub">Amet in elementum nulla scelerisque dui, egestas at.</div>
      <div class="tel_sub">Elit consectetur turpis elementum amet vitae et etiam nec.</div>
      <div class="tel_sub">Varius volutpat hac adipiscing tincidunt pretium.</div>
      <br>
      <img src="/assets/Images/tel-img1.png" class="dashboard_tel_app">
    </div>
  </div>
<app-footer></app-footer>

